body 
{
	margin: 0;
	border: 0;
    padding: 0;
	width:100%;
	height:100%;
}

#gl-canvas
{
	width:800px;
	height:640px;
}
#inputPanel
{
	height:100px;
	float:left;
}

#blockMenu
{
	float:left;
}

#buttonPanel
{
	float:left;
	width: 400px;
}